$primary-background-color: #F7F5F2;

$content-primary: #262626;
$content-secondary: #A0968D;

$error-primary: #FF7859;

$primary-accent-color: #8D76FF;
$primary-accent-color-sublte: #EDE9FF;
$secondary-accent-color: #FF76C7;

$primary-brown: #BCA48F;
$secondary-brown: #E9E6E1;
$tertiary-brown: #8D7458;
$quaternary-brown: #DED7CF;

$color-white: #FFFFFF;

$font-stack: 'Inter', sans-serif;