@import 'variables';

// Variables
$grid-columns: 12;
$column-width: 64px;
$gutter: 20px;
$container-max-width: (
    $grid-columns * ($column-width + $gutter)
);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'SF Mono';
    src: url('../fonts/sf-mono-semibold.woff2') format('woff2'),
        url('../fonts/sf-mono-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 769px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

*::selection {
    background: $content-primary;
    color: $color-white;
}

*::-moz-selection {
    background: $content-primary;
    color: $color-white;
}

*::-webkit-selection {
    background: $content-primary;
    color: $color-white;
}

:focus-visible {
    outline: 2px solid $primary-accent-color;
    outline-offset: 2px;
    border-radius: 8px;
}

nav li:focus-visible {
    outline-offset: 2px;
    outline: rgb(141, 118, 255) solid 2px;
    border-radius: 24px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: $primary-background-color;
    overflow-x: hidden;
    cursor: none;
}

.fade {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.fade.show {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.no-scroll {
    overflow: hidden;
}

header,
main,
footer {
    padding: 0 40px;
}

.custom-cursor {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: $content-primary;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    z-index: 4;
}

.active-cursor {
    background-color: rgba(38, 38, 38, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transform: translate(-50%, -50%) scale(1.6);
}

h1 {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    color: $content-primary;
    font-weight: 600;
}

p {
    color: $content-primary;
    font-weight: 400;
}

a,
button {
    cursor: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px 10px 20px;
    background-color: $primary-brown;
    color: $color-white;
    border: none;
    border-radius: 12px;
    /*cursor: pointer;*/
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: $primary-accent-color;
}

.button img {
    width: 16px;
    height: 16px;
}

.button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 16px 10px 20px;
    background-color: $secondary-brown;
    color: $tertiary-brown;
    border: none;
    border-radius: 12px;
    /*cursor: pointer;*/
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.button-secondary:hover {
    background-color: rgba(141, 118, 255, .16);
    color: $primary-accent-color;
}

.button-secondary img {
    width: 16px;
    height: 16px;
}

.card-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.button-link {
    text-decoration: none;
    border-radius: 12px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

header #header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 120px;
    width: 960px;
    padding: 80px 0 0 0;
}

#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 44px;
}

#logo img {
    height: 44px;
}

header #header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 32px;
    padding: 0 120px;
    text-align: center;
}

#header-intro a {
    color: $content-primary;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid $quaternary-brown;
    transition: all .2s ease-in-out;
}

#header-intro a:hover {
    color: $primary-accent-color;
    background-color: $primary-accent-color-sublte;
    border-bottom: 2px solid $primary-accent-color;
}

#header-intro p {
    margin: 0;
}

#download-resume {
    position: absolute;
    top: 80px;
    right: 0;
    text-decoration: none;
    border-radius: 12px;
}

#download-resume .button::before {
    content: "Resume";
}

#download-resume-2 {
    text-decoration: none;
    border-radius: 12px;
}

#header-intro>p {
    font-size: 24px;
    line-height: 40px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 8px;
    border-radius: 32px;
    background: $secondary-brown;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}

nav .active {
    color: $color-white;
}

nav li {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: $tertiary-brown;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 24px;
    transition: all 0.2s ease;
}

nav li:not(.active):hover {
    background: $quaternary-brown;
    border-radius: 24px;
}

#nav-background {
    position: absolute;
    height: 100%;
    background-color: $primary-brown;
    border-radius: 24px;
    z-index: 1;
    transition: all 0.2s ease;
    pointer-events: none;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    position: relative;
    margin: 80px 0 120px 0;
    width: 960px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $color-white;
    border-radius: 30px;
    overflow: hidden;
    margin: 0;
}

.card-visual {
    display: flex;
    flex-basis: 50%;
    padding: 12px 0 12px 12px;
}

.card-img {
    flex-basis: 100%;
    aspect-ratio: 1/1;
    background-color: $secondary-brown;
    border-radius: 18px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-description {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    padding: 64px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.card-title img {
    width: 32px;
    height: 32px;
}

.card h1 {
    font-size: 32px;
    line-height: 42px;
    margin: 0;
}

.card p {
    font-size: 18px;
    line-height: 31px;
    margin: 0;
}

.about-me .image.me {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.about-me .arch {
    background-color: $secondary-brown;
    height: 460px;
    width: 360px;
    border-radius: 180px 180px 30px 30px;
}

.about-me .image.map {
    height: 460px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-image: url("../assets/icons/map.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-me .highlight {
    color: $content-primary;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    padding: 0 120px;
}

.about-me .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    text-align: center;
}

.about-me .skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 0 0 calc(50% - 80px);
}

.about-me .skills-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-brown;
    height: 112px;
    width: 112px;
    border-radius: 50%;
}

.about-me .skills-img img {
    height: 32px;
    width: 32px;
}

.about-me .skills-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about-me h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.about-me p {
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.background .background-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.background .background-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.background .background-list-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 12px;
}

.background img {
    width: 20px;
    height: 16px;
    margin: 8px 0;
}

.background .background-list-text {
    display: flex;
    flex-direction: column;
}

.background .background-list-title {
    color: $content-primary;
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.background .background-list-description {
    color: $content-secondary;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.background .background-list-title span {
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: $secondary-brown;
}

footer #footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 64px;
    width: 960px;
    padding: 80px 120px;
    text-align: center;
}

.connect-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 32px;
}

#connect-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#connect-description a {
    font-weight: 500;
    transition: all .2s ease-in-out;
}

#connect-description a:hover {
    color: $primary-accent-color;
    transition: all .2s ease-in-out;
}

footer p,
footer a {
    font-size: 18px;
    line-height: 31px;
    margin: 0;
}

footer ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    height: 44px;
    width: 44px;
}

footer a {
    color: $tertiary-brown;
}

footer img {
    width: 100%;
    height: 100%;
}

footer li a {
    display: flex;
}

#anchor-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 80px;
    width: 44px;
    height: 44px;
    background-color: $quaternary-brown;
    color: $tertiary-brown;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#anchor-up:hover {
    background-color: rgba(141, 118, 255, .16);
    color: $primary-accent-color;
    transition: all 0.2s ease-in-out;
}

#anchor-up img {
    width: 16px;
    height: 16px;
}

#copyright {
    display: block;
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 24px;
}

#copyright img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    position: absolute;
}

#copyright-rotate {
    animation: rotate 12s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* PASSWORD */

#password-overlay {
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 38, 38, 0.85);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

#password-overlay.show {
    display: flex;
    visibility: visible;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
}

#password-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 480px;
    padding: 64px;
    background-color: $color-white;
    border-radius: 30px;
    transform: translate(0px, 24px);
    transition: all 0.2s ease-in-out;
}

#password-overlay.show #password-modal {
    transform: translate(0px, 0px);
    transition: all 0.2s ease-in-out;
}

#password-modal .button-secondary {
    width: 100%;
}

#password-modal h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 32px;
}

#modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#modal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: rgba(141, 118, 255, 0.16);
    border-radius: 50%;
}

#modal-icon img {
    width: 24px;
    height: 24px;
    color: $primary-accent-color;
}

#modal-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#modal-password {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

#modal-password input {
    border-radius: 12px;
    height: 48px;
    width: 48px;
    font-family: "SF Mono", monospace;
    font-size: 18px;
    color: $content-primary;
    font-weight: bold;
    text-align: center;
    border: 2px solid $secondary-brown;
    outline: none;
    cursor: none;
    transition: all 0.2s ease-in-out;
}

#modal-password input:focus {
    border: 3px solid $primary-accent-color;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#error-message p {
    color: $error-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
}

#error-message img {
    width: 16px;
    height: 16px;
}

.error-message {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.error-message.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

input.success {
    border: 2px solid $primary-accent-color !important;
    outline: none;
    transition: all 0.2s ease-in-out;
}

input.error {
    border: 2px solid $error-primary !important;
    outline: none;
    transition: all 0.2s ease-in-out;
}

/* TEST */

.content.inactive-left {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-48px, 0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.inactive-right {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(48px, 0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.entering-left {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(-48px, 0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.entering-right {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translate(48px, 0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0px, 0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content-background-blur {
    width: 120%;
    height: 100%;
    position: absolute;
    padding: 40px;
    z-index: 1;
    pointer-events: none;
}

.content.inactive-left .content-background-blur,
.content.inactive-right .content-background-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.entering-left .content-background-blur,
.content.entering-right .content-background-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

.content.active .content-background-blur {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: all 0.3s cubic-bezier(0.64, 0, 0.32, 1);
}

/* NEW ARTICLE */

.button-back {
    position: absolute;
    top: 80px;
    left: 0;
    text-decoration: none;
    border-radius: 12px;
}

.button-back .button-secondary {
    padding: 10px 20px 10px 16px;
}

.button-back .back-button-text {
    display: flex;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 120px;
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 960px;
    gap: 80px;
}

.article-cover {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    overflow: hidden;
    background-color: $secondary-brown;
}

.cover-title {
    position: relative;
    color: $primary-background-color;
    font-size: 100px;
    line-height: 120px;
    font-weight: 600;
    margin: 0;
    padding-top: 46px;
    filter: blur(0);
    transition: all 0.1s linear;
}

.cover-description {
    position: relative;
    color: $primary-background-color;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: "SF Mono", monospace;
    font-weight: bold;
    letter-spacing: 1.68px;
    margin: 0;
    filter: blur(0);
    transition: opacity 0.1s linear;
}

.cover-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.cover-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
    transition: backdrop-filter 0.1s linear;
}

.summary-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 960px;
    padding: 0 120px;
}

.summary-divider {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 24px 0 0 0;
    border-top: 1px solid $quaternary-brown;
}

.summary-divider .divider-block {
    flex: auto;
}

.summary-divider h4 {
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
    margin: 0;
}

.summary-divider ul {
    margin: 0;
    color: $content-primary;
}

.summary-divider ul {
    list-style-type: none;
    padding: 0;
}

.summary-divider li {
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 960px;
    gap: 120px;
}

.article-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section-content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.section-segment {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 120px;
}

.section-media {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    padding: 0;
}

.media-container {
    width: 100%;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
}

/*.media-container.wide {
    aspect-ratio: 16 / 9;
}

.media-container.regular {
    aspect-ratio: 4 / 3;
}*/

.custom-play {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 74px;
    left: 32px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    width: 44px;
    height: 44px;
    padding: 10px 18px 10px 14px;
    border-radius: 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.custom-play-label {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 500;
    color: $color-white;
    opacity: 0;
    transform: translateX(-4px);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.custom-play:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 135px;
    transition: all 0.2s ease-in-out;
  }

  .custom-play:hover .custom-play-label {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

.custom-play.hidden {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.video-placeholder {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    overflow: hidden;
  }

.media-caption {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-left: 24px;
}

.media-caption p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: $content-secondary;
    margin: 0;
}

#caption-icon {
    width: 16px;
    height: 16px;
}

.article-content h2 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: $content-primary;
}

.article-content h3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    margin: 0;
    color: $content-primary;
}

.article-content h4 {
    font-size: 18px;
    line-height: 31px;
    font-weight: 700;
    margin: 0;
}

.section-segment p {
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
}

.article-content a {
    color: $content-primary;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid $quaternary-brown;
    transition: 0.2s ease-in-out;
}

.section-content a:hover {
    color: $primary-accent-color;
    background-color: $primary-accent-color-sublte;
    border-bottom: 2px solid $primary-accent-color;
}

.segment-divider {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.divider-block {
    flex: 1;
}

.article-content ul {
    margin: 0;
    color: $content-primary;
}

.divider-block ul {
    list-style-type: none;
    padding: 0;
}

.article-content li {
    font-size: 18px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}

.article-highlight p {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.solid-text {
    color: $content-primary;
}

.article-highlight .gradient-text {
    background: linear-gradient(90deg, $primary-accent-color, $secondary-accent-color, $primary-accent-color);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    transition: background-position 0.1s ease-out;
}

.article-other-projects {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 0;
    position: relative;
    width: 100%;
    max-width: 960px;
}

.button-project {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    padding: 24px 32px;
    background-color: $primary-brown;
    border: none;
    transition: 0.2s ease-in-out;
}

.button-project:hover {
    background-color: $primary-accent-color;
    transition: 0.2s ease-in-out;
}

.button-project.previous {
    justify-content: flex-start;
}

.button-project.next {
    justify-content: flex-end;
}

.button-project img {
    width: 24px;
    height: 24px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.button-wrapper p {
    margin: 0;
}

.button-title {
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    font-family: "SF Mono", monospace;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    color: $color-white;
}

.previous .button-title::before {
    content: "Previous project";
}

.next .button-title::before {
    content: "Next project";
}

.button-content {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color-white;
}

.previous .button-wrapper {
    align-items: start;
}

.next .button-wrapper {
    align-items: end;
}

.button-project img {
    transform: translateX(0);
    transition: 0.2s ease-in-out;
}

.button-project.previous:hover img {
    transform: translateX(-8px);
    transition: 0.2s ease-in-out;
}

.button-project.next:hover img {
    transform: translateX(8px);
    transition: 0.2s ease-in-out;
}

.article-press {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px 64px;
    border-radius: 24px;
    background-color: $color-white;
    position: relative;
    width: 100%;
    max-width: 960px;
}

.press-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-item {
    display: flex;
    flex-direction: rown;
    gap: 12px;
}

.link-item img {
    width: 24px;
    height: 24px;
    margin: 3px 0px;
}

.link-item .title {
    font-size: 18px;
    line-height: 31px;
    color: $content-primary;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid rgb(222, 215, 207);
    transition: 0.2s ease-in-out;
    margin: 0;
}

.link-item .title:hover {
    color: $primary-accent-color;
    background-color: $primary-accent-color-sublte;
    border-bottom: 2px solid $primary-accent-color;
}

.link-item .content {
    font-size: 18px;
    line-height: 31px;
    color: $content-secondary;
    font-weight: 400;
    margin: 0;
}

.content-list {
    list-style-type: disc;
    padding-left: 24px;
}

.article-quote {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px 64px;
    border-radius: 24px;
    background-color: $color-white;
    position: relative;
    width: 100%;
    max-width: 960px;
}

.article-quote img {
    width: 104px;
    height: 48px;
}

.article-quote h3 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    margin: 0;
    color: $content-secondary;
}

.article-quote i {
    font-style: italic;
}

.article-quote .quote-highlight {
    color: $content-primary;
}

.author-wrapper {
    display: flex;
    flex-direction: column;
}

.author-wrapper .name {
    font-size: 18px;
    line-height: 31px;
    color: $content-primary;
    font-weight: 600;
    margin: 0;
}

.author-wrapper .company {
    font-size: 18px;
    line-height: 31px;
    color: $content-secondary;
    font-weight: 400;
    margin: 0;
}

.section-table {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.table-item {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 48px;
    padding: 24px 0;
    border-top: 1px solid $quaternary-brown;
}

.table-item h4 {
    margin: 0;
    width: 160px;
}

.table-item p {
    font-size: 18px;
    line-height: 31px;
    color: $content-primary;
    font-weight: 400;
    margin: 0;
    flex: 1;
}

.article-metrics {
    display: flex;
    flex-direction: row;
    gap: 48px;
    position: relative;
    width: 100%;
    max-width: 960px;
}

.metric-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-item .gradient-text {
    background: linear-gradient(90deg, $primary-accent-color, $secondary-accent-color, $primary-accent-color);
    background-size: 800% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    transition: background-position 0.1s ease-out;
}

.metric-item h2 {
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.metric-item p {
    font-size: 18px;
    line-height: 31px;
    color: $content-primary;
    font-weight: 500;
    margin: 0;
}

/* CAROUSEL */

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: auto;
    overflow: visible;
  }
  
  .carousel {
    display: flex;
    gap: 32px;
    transition: transform 0.6s cubic-bezier(0.64, 0, 0.32, 1);
  }
  
  .carousel-slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .img-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 24px;
    background-color: $secondary-brown;
    overflow: hidden;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
  }
  
  .carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 74px;
    left: 50%;
    transform: translateX(-50%);
    gap: 16px;
  }
  
  .carousel-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(30,30,36,0.75);
    color: $color-white;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all 0.2s ease-in-out;
  }
  
  .carousel-controls button:hover {
    background: rgba(30,30,36,1);
    transition: all 0.2s ease-in-out;
  }
  
  .carousel-controls img {
    width: 16px;
    height: 16px;
    display: flex;
  }
  
  .indicators {
    display: flex;
    gap: 12px;
    background-color: rgba(30,30,36,0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height: 44px;
    align-items: center;
    padding: 0 20px;
    border-radius: 32px;
  }
  
  .indicator {
    width: 6px;
    height: 6px;
    background: $color-white;
    opacity: 0.40;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  
  .indicator.active {
    background: $color-white;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

/* MOBILE */

@media (max-width: 768px) {
    header, main, footer {
        padding: 0 24px;
    }

    #password-overlay {
        align-items: flex-end;
        padding: 12px;
    }

    #password-modal {
        padding: 32px;
        width: 100%;
    }

    #modal-password {
        gap: 8px;
    }

    #modal-password input {
        height: 44px;
        width: 44px;
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
        line-height: 42px;
    }

    header #header-intro {
        gap: 24px;
    }

    #header-intro > p {
        font-size: 16px;
        line-height: 28px;
    }

    nav {
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        padding: 0;
        border-radius: 32px;
        background: none;
    }
  
    nav::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    nav li {
        flex: 0 0 auto;
    }

    .section {
        gap: 48px;
        margin: 48px 0 64px 0;
    }

    .card {
        flex-direction: column;
    }

    .card-visual {
        display: flex;
        flex-basis: 50%;
        padding: 12px 12px 0 12px;
    }

    .card p {
        font-size: 16px;
        line-height: 28px;
    }

    .card-description {
        gap: 32px;
        padding: 32px;
    }

    .card-content {
        gap: 16px;
    }

    header #header-container {
        gap: 64px;
        padding: 24px 0 0 0;
        width: 100%;
    }

    header #header-intro {
        padding: 0 0;
    }

    .about-me .highlight {
        padding: 0 0;
        font-size: 32px;
        line-height: 42px;
    }

    .background {
        gap: 48px;
    }

    .background .background-list-title {
        font-size: 16px;
        line-height: 28px;
    }

    .background img {
        margin: 6px 0;
    }

    .about-me p {
        font-size: 16px;
        line-height: 28px;
    }

    .about-me .skills {
        gap: 48px;
    }

    .about-me .skills-img {
        height: 64px;
        width: 64px;
    }

    .about-me .skills-img img {
        height: 24px;
        width: 24px;
    }

    .about-me .skills-text {
        gap: 16px;
    }

    .about-me .skills-item {
        flex: 0 0 100%;
        gap: 24px;
    }

    .about-me .background-item {
        flex: 0 0 100%;
    }

    .about-me .image.map {
        height: 240px;
        border-radius: 16px;
    }

    footer #footer-container {
        padding: 48px 0;
    }

    footer p, footer a {
        font-size: 16px;
        line-height: 28px;
    }

    #copyright {
        bottom: 48px;
    }

    #anchor-up {
        bottom: 48px;
    }

    .button-back {
        top: 24px;
    }

    .button-back .button-secondary {
        padding: 0;
        height: 44px;
        width: 44px;
    }

    .button-back .back-button-text {
        display: none;
    }

    #logo img {
        height: 36px;
    }

    #download-resume {
        top: 24px;
    }

    #download-resume .button::before {
        content: "CV";
    }

    #download-resume .button {
        padding: 10px 14px 10px 16px;
        gap: 4px;
    }

    .article-cover h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .section-segment {
        padding: 0;
    }

    .summary-container {
        padding: 0;
    }

    .segment-divider {
        flex-direction: column;
        gap: 24px;
    }

    .summary-divider {
        flex-direction: row;
        gap: 24px;
        padding: 16px 0 0 0;
    }

    .summary-divider h4 {
        font-size: 16px;
        line-height: 28px;
    }

    .summary-divider li {
        font-size: 16px;
        line-height: 28px;
    }

    .section-segment p {
        font-size: 16px;
        line-height: 28px;
    }

    .article-content h4 {
        font-size: 16px;
        line-height: 28px;
    }

    .article-content li {
        font-size: 16px;
        line-height: 28px;
    }

    .media-container {
        border-radius: 16px;
    }

    .section-media {
        gap: 12px;
    }

    .media-caption {
        margin-left: 0px;
        gap: 8px;
    }

    #caption-icon {
        width: 12px;
        height: 12px;
    }

    .media-caption p {
        font-size: 14px;
        line-height: 24px;
    }

    .carousel-slide {
        gap: 12px;
    }

    .table-item {
        gap: 24px;
        padding: 16px 0;
    }

    .table-item h4 {
        width: 120px;
    }

    .table-item p {
        font-size: 16px;
        line-height: 28px;
    }

    .metric-item p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .article-press {
        gap: 24px;
        padding: 24px 24px;
        border-radius: 16px;
    }

    .link-item .title {
        font-size: 16px;
        line-height: 28px;
    }

    .link-item .content {
        font-size: 16px;
        line-height: 28px;
    }

    .button-project {
        gap: 16px;
        border-radius: 12px;
        padding: 16px 24px;
    }

    footer ul {
        gap: 16px;
    }

    .connect-container {
        gap: 24px;
    }

    footer #footer-container {
        width: 100%;
        gap: 48px;
    }

    .about-me .arch {
        background-color: $secondary-brown;
        height: 240px;
        width: 200px;
        border-radius: 100px 100px 16px 16px;
    }

    .article-container {
        gap: 64px;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .article-cover {
        gap: 8px;
        border-radius: 16px;
    }

    .article-cover h1 {
        padding-top: 12px;
    }

    .article-cover p {
        font-size: 12px;
        line-height: 24px;
    }

    .article-header {
        gap: 48px;
    }

    .article-content {
        gap: 64px;
    }

    .article-section {
        gap: 48px;
    }

    .article-content h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .article-content h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .article-highlight p {
        font-size: 32px;
        line-height: 42px;
    }

    .article-quote {
        gap: 24px;
        padding: 24px 24px;
        border-radius: 16px;
    }

    .article-quote img {
        width: 52px;
        height: 24px;
    }

    .author-wrapper .name {
        font-size: 16px;
        line-height: 28px;
    }

    .author-wrapper .company {
        font-size: 16px;
        line-height: 28px;
    }

    .carousel-controls {
        position: relative;
        padding-top: 16px;
        bottom: 0;
    }

    .img-container {
        border-radius: 16px;
    }

    .press-link-wrapper {
        gap: 12px;
    }

    .link-item {
        gap: 8px;
    }

    .article-other-projects {
        gap: 24px;
    }

    .button-title {
        font-size: 12px;
        line-height: 24px;
    }

    .button-content {
        font-size: 16px;
        line-height: 24px;
    }

    .article-metrics {
        gap: 24px;
    }
}

@media (max-width: 480px) {
    nav {
        width: calc(100% + 48px);
        padding-left: 24px;
        border-radius: 0;
    }

    nav::before {
        content: ""; /* Required for pseudo-elements */
        display: flex;
        position: absolute;
        width: 24px;  /* Adjust width */
        height: 44px; /* Adjust height */
        left: -24px;
        background: linear-gradient(90deg, rgba(247,245,242,1), rgba(247,245,242,0));
        z-index: 3;
    }

    nav::after {
        content: ""; /* Required for pseudo-elements */
        display: flex;
        position: absolute;
        width: 24px;  /* Adjust width */
        height: 44px; /* Adjust height */
        right: -24px;
        background: linear-gradient(90deg, rgba(247,245,242,0), rgba(247,245,242,1));
        z-index: 3;
    }

    nav ul::after {
        content: '';
        height: 44px;
        padding: 0px 8px;
    }

    .card-description a {
        width: 100%;
        display: flex;
    }

    .card-description .button {
        width: 100%;
    }

    .card-description .button-secondary {
        width: 100%;
    }

    .card-button-wrapper {
        flex-wrap: wrap;
    }

    footer ul {
        gap: 12px;
    }

    #social img {
        padding: 6px;
    }

    .button-title {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }

    .previous .button-title::before {
        content: '';
        width: 12px;
        height: 12px;
        background: url("../assets/icons/arrow-left-light.svg") no-repeat center/contain;
    }

    .previous .button-title::after {
        content: "Previous";
    }

    .next .button-title::after {
        content: '';
        width: 12px;
        height: 12px;
        background: url("../assets/icons/arrow-right-light.svg") no-repeat center/contain;
    }

    .next .button-title::before {
        content: "Next";
    }

    .button-project img {
        display: none;
    }
}